.Dice {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.Dice-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.Dice-button {
    background-color: black;
    width: 30em;
    padding: 1.5em;
    border: 0px;
    border-radius: 10px;
    color: white;
    margin-top: 3em;
    align-self: center;
}

.Dice-button:hover {
    background-color: darkslateblue;
    cursor: pointer;
}